.video-playlist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 20px;
  height: 700px;
}

.playlist-title {
  padding-left: 120px;
}

.playlist {
  width: 450px;
  overflow: auto;
  background-color: #207cf5;
}


